.centrado{
    text-align: center;
  }
.derecha{
    text-align: right;
}
.izquierda{
    text-align: left;
}

ion-content.background{
    --background: url(/assets/img/fondo1.jpg) 0 0/100% 100% no-repeat;
    opacity: 0.8;
}
ion-content.background2 {
    --background: var(--ion-color-dark);
}
.blanco {
    background-color: white;
}

ion-icon.size {
    font-size: 30px;
}

.bor {
    border-bottom: rgba(255, 255, 255, 0.877) 1px solid;
}

label, ion-label, h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 8px #080808;
}

.redondo {
    --border-radius: 50px;
}