.centrado{
    text-align: center;
  }
.derecha{
    text-align: right;
}
.izquierda{
    text-align: left;
}

ion-content.background{
    --background: url(/assets/img/paraequipo.jpeg) 0 0/100% 100% no-repeat;
    opacity: 0.8;
}
.blanco {
    background-color: white;
}

ion-icon.size {
    font-size: 30px;
}

.bor {
    border-bottom: rgba(255, 255, 255, 0.877) 1px solid;
}