<app-header titulo="Equipo" *ngIf="!atras"></app-header>

<ion-header no-border *ngIf="atras">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="slideAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="perfil.id == equipo.userId">
      <ion-icon class="size shadow" 
                style="color: white;" 
                (click)="actualizar()"
                name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background">

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>

    <ion-slide>
      <ion-grid>

        <ion-row>
          <ion-col>
            <div *ngIf="!mostrarCrear">
              <ion-button color="success" 
                          (click)="mostrarCrear=true"
                          fill="solid">
                          <ion-icon name="add-circle-outline" class="size"></ion-icon>
                          CREAR EQUIPO                          
                        </ion-button>
              </div>
              <div *ngIf="mostrarCrear">
                <ion-button color="tertiary" 
                      (click)="mostrarCrear=false">OCULTAR</ion-button>
              </div>
          </ion-col>
          <ion-col class="derecha">
            <div >
              <ion-button color="light" 
                          routerLink="/unirme-equipo" routerDirection="forward"
                          class="redondo">
                          <ion-icon color="success" name="search-outline" class="size"></ion-icon>
                        </ion-button>
              </div>
          </ion-col>
        </ion-row>
        
        
        
        <br>
        <div *ngIf="mostrarCrear">
          <form #formulario="ngForm">
          <ion-list>
            <h4>Dale nombre al equipo</h4>
            <ion-item>
              <ion-input name="nombre"
                          type="nombre"
                          minlength="5"
                          maxlength="15"
                          placeholder="Nombre"                          
                          required
                          [(ngModel)]="equipo.nombre"></ion-input>
            </ion-item>

            <h4>¿Cuántos miembros se permitirán en el equipo?</h4>
            <ion-item>
              <ion-input name="cantJugadores"
                          type="number"
                          placeholder="0"
                          required
                          [(ngModel)]="equipo.cantJugadores"></ion-input>
            </ion-item>
          </ion-list>

          <ion-button expand="full" 
                      type="submit"
                      color="success"
                      [disabled]="formulario.invalid"
                      (click)="crearEquipo()">
              CREAR
          </ion-button>

          <!-- <ion-button color="success" 
                      (click)="mostrarCrear=false">OCULTAR</ion-button> -->         
          
          </form>

        </div>

        <div>
          <h1 style="color: white;">Mis equipos</h1> 
            <ion-row class="ion-align-items-center bor" *ngFor="let user of equipoUserUser">
              <ion-col size="8" class="izquierda">
                <h4 style="color: white;">{{user.equipo.nombre}}</h4>
              </ion-col>
              
              <ion-col class="derecha">
                <ion-button class="derecha"      
                            shape="round" fill="clear"
                            (click)="obtenerEquipoId(user.equipoId)"
                            (click)="getEquipoUserxIdEquipo(user.equipoId)"
                            >
                            <ion-icon color="success" class="size" name="return-up-forward-outline"></ion-icon>
                          </ion-button>
                
              </ion-col>
            </ion-row>
            
        </div>

      <h2 style="color: white;" *ngIf="mostrarEIncomp.length != 0">Completar creación</h2>
        <div>          
            <ion-row class="bor" *ngFor="let item of mostrarEIncomp">
              <ion-col class="izquierda"><h4 style="color: white;">{{item.nombre}}</h4></ion-col>
              <!-- A PARTIR DE AQUI YA ESTABA COMENTADO  <ion-col class="derecha">
                <ion-button *ngIf="!unido" color="success"
                            (click)="llenar(user.idEquipo)"
                            (click)="uniraEquipo()">UNIRME</ion-button>
              </ion-col> HASTA AQUI ESTABA COMENTADO -->
              <ion-col class="derecha">
                <ion-button color="success"
                            class="derecha"
                            shape="round"
                            (click)="uniraEquipo(item.idEquipo)">Completar creacion</ion-button>              
              </ion-col>
            </ion-row>
        </div>

    </ion-grid>
  </ion-slide>


<!-- -------------------------------------------------------------------------------------------------  -->


  <ion-slide>
    <ion-grid>
    <div>

      <div>
        <h1 *ngIf="perfil.id == equipo.userId">{{equipo.nombre}}</h1>
        <h2 *ngIf="perfil.id == equipo.userId">Soy capitán</h2>
        <h1 *ngIf="perfil.id != equipo.userId">{{equipo.nombre}}</h1>
        <h2 *ngIf="perfil.id != equipo.userId">Miembros</h2>
        
        <ion-row *ngIf="perfil.id == equipo.userId" class="bor">
          <ion-col class="izquierda" size="9">
              Jugadores permitidos: 
          </ion-col>
          <ion-col class="derecha">
            {{equipo.cantJugadores}} 
          </ion-col>          
        </ion-row>
        <ion-row *ngIf="perfil.id == equipo.userId" class="bor">
          <ion-col class="izquierda" size="9">
            Jugadores en el equipo:
          </ion-col>
          <ion-col class="derecha">
            {{equipoUsers.length}} 
          </ion-col>          
        </ion-row>
        <br>
        <h2 *ngIf="perfil.id == equipo.userId">Miembros</h2><br>

        <ion-row class="ion-align-items-center bor" *ngFor="let user of equipoUsers">
          <ion-col>        
            <h4 class="izquierda">{{user.user.nombreUsuario}}</h4>                  
          </ion-col>
          <ion-col *ngIf="user.userId == equipo.userId" class="derecha">
            <h6>Capitán</h6>
          </ion-col>
          <ion-col *ngIf="user.userId != equipo.userId && equipo.userId == perfil.id" class="derecha">
            <ion-icon class="size shadow" 
                style="color: green" 
                (click)="actualizarCapitan(user.userId)"
                name="ellipsis-vertical"></ion-icon>
          </ion-col>
          <!-- <ion-col *ngIf="user.userId != equipo.userId && equipo.userId == perfil.id" class="derecha">
            <ion-button color="success"
                        class="derecha"
                        (click)="cambiarCapitan(user.userId)">
                        Elegir como capitan
                      </ion-button>
          </ion-col> 
          <ion-col *ngIf="user.userId != equipo.userId && equipo.userId == perfil.id" class="derecha">
            <ion-button color="danger"
                        class="derecha"
                        (click)="sacarEquipo(user.userId)">
                        <ion-icon color="light" name="person-remove-outline"></ion-icon>
                      </ion-button>
          </ion-col>  -->
          <ion-col *ngIf="user.userId == perfil.id && user.userId!=equipo.userId" class="derecha">
            <h5 style="color: red;" (click)="salirEquipo(user.equipoId)">Salirme</h5>
          </ion-col>
        </ion-row>
        

      </div>
    </div>
  </ion-grid>
  </ion-slide>





  <ion-slide>
    <!-- <ion-grid>
    <div>
      <ion-card class="blanco">
        <ion-row *ngFor="let user of equipoUsers">
          <ion-col size="6" class="izquierda">        
            <h5 style="color: black;">{{user.user.nombreUsuario}}</h5>                  
          </ion-col>
          <ion-col class="derecha" *ngIf="user.userId == equipo.userId">
            <h5>Capitan</h5>
          </ion-col>
          <ion-col *ngIf="user.userId != equipo.userId" class="derecha">
            <ion-button color="danger"
                        class="derecha"
                        (click)="sacarEquipo(user.userId)">
                        <ion-icon color="light" name="person-remove-outline"></ion-icon>
                      </ion-button>
          </ion-col>    
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-button   color="success"
                        expand="full"
                        (click)="ocultar()"
                        (click)="goSlide1()">Regresar</ion-button>
                      </ion-col>
        </ion-row>
      </ion-card>
    </div>  
  </ion-grid> -->
  </ion-slide>
  
  
</ion-slides>

</ion-content>
