<app-header titulo="Equipo"></app-header>


<ion-content>

  <ion-button color="success" routerLink="/crear-equipo">CREAR EQUIPO</ion-button>

  <h1>{{equipo.idUsuario}}</h1>
  <h1>{{idEquipo}}</h1>
  <br>

  <form #formulario="ngForm" (ngSubmit)="modificarEquipo()">

    <ion-list>
      <ion-item>
        <ion-label>Equipo</ion-label>
        <ion-select [(ngModel)]="idEquipo"
                    name="idCancha">
          <ion-select-option *ngFor="let user of equipos" value="{{user.idEquipo}}" >{{user.idEquipo}} {{user.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
    <ion-button expand="full" type="submit"
    [disabled]="formulario.invalid" routerLink="/inicio">
        Unirme a equipo
    </ion-button>
  
  </form>
  

</ion-content>
