<app-header titulo="Equipo"></app-header>


<ion-content class="background">

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>

    <ion-slide>
      <ion-grid>

        <br>
        <div class="derecha">
          <ion-button color="success" 
                      routerLink="/unirme-equipo" routerDirection="forward"
                      shape="round" 
                      fill="solid">BUSCAR EQUIPO</ion-button>
          </div>
        <div class="derecha">
        <ion-button color="tertiary" 
                    (click)="mostrarCrear=true"
                    shape="round" 
                    fill="solid">CREAR EQUIPO</ion-button>
        </div>

        <div *ngIf="mostrarCrear">
          <form>
          <ion-list>
            <ion-label>Nombra al equipo</ion-label>
            <ion-item>
              <ion-input name="nombre"
                          type="nombre"
                          placeholder="Nombre"                          
                          required
                          [(ngModel)]="equipo.nombre"></ion-input>
            </ion-item>

            <ion-label>Indica la cantidad de miembros que te gustaria que fueran parte de el</ion-label>
            <ion-item>
              <ion-input name="cantJugadores"
                          type="number"
                          placeholder="0"
                          required
                          [(ngModel)]="equipo.cantJugadores"></ion-input>
            </ion-item>
          </ion-list>

          <ion-button expand="full" 
                      type="submit"
                      (click)="crearEquipo()">
              CREAR
          </ion-button>

          <ion-button color="success" 
                      (click)="mostrarCrear=false">OCULTAR</ion-button>
          
          
          </form>

        </div>


      <h1 style="color: black;">Mis equipos</h1>  

        <div>
          <ion-card class="blanco">
            <ion-row class="ion-align-items-center" *ngFor="let user of equipoUserUser">
              <ion-col size="6" class="izquierda">
                <h5 style="color: black;">{{user.equipo.nombre}}</h5>
              </ion-col>
              
              <ion-col class="derecha">
                <ion-button class="derecha"      
                            shape="round" fill="clear"
                            (click)="obtenerEquipoId(user.equipoId)"
                            (click)="getEquipoUserxIdEquipo(user.equipoId)"
                            >
                            <ion-icon color="success" class="size" name="return-up-forward-outline"></ion-icon>
                          </ion-button>
                
              </ion-col>
            </ion-row>

            
            
          </ion-card>  
        </div>

      <h2 style="color: black;">Administrar mis equipos</h2>
        <div>          
          <ion-card class="blanco">
            <ion-row *ngFor="let item of mostrarEIncomp">
              <ion-col class="izquierda"><h5 style="color: black;">{{item.nombre}}</h5></ion-col>
              <!-- A PARTIR DE AQUI YA ESTABA COMENTADO  <ion-col class="derecha">
                <ion-button *ngIf="!unido" color="success"
                            (click)="llenar(user.idEquipo)"
                            (click)="uniraEquipo()">UNIRME</ion-button>
              </ion-col> HASTA AQUI ESTABA COMENTADO -->
              <ion-col class="derecha">
                <ion-button color="success"
                            class="derecha"
                            shape="round" fill="clear"
                            (click)="uniraEquipo(item.idEquipo)">Completar creacion</ion-button>              
              </ion-col>
            </ion-row>
          </ion-card>        
        </div>

    </ion-grid>
  </ion-slide>





  <ion-slide>
    <ion-grid>
    <div>
      <ion-row>
        <ion-col class="izquierda">
          <ion-button color="success"
                    class="izquierda"
                    (click)="clear()"
                    (click)="goSlide1()">Regresar</ion-button>
        </ion-col>          
      </ion-row>
      <div class="blanco">
        <ion-card-title *ngIf="perfil.id == equipo.userId">Mi Equipo</ion-card-title>
        <ion-card-title *ngIf="perfil.id != equipo.userId">Miembros</ion-card-title>
        <ion-row class="ion-align-items-center" *ngFor="let user of equipoUsers">
          <ion-col>        
            <h5 class="izquierda" style="color: black;">{{user.user.nombreUsuario}}</h5>                  
          </ion-col>
          <ion-col *ngIf="user.userId == equipo.userId" class="derecha">
            <h5>Capitan</h5>
          </ion-col>
          <ion-col *ngIf="user.userId != equipo.userId && equipo.userId == perfil.id" class="derecha">
            <ion-button color="success"
                        class="derecha"
                        (click)="modificarEquipo(user.userId)">
                        Elegir como capitan
                      </ion-button>
          </ion-col> 
          <ion-col *ngIf="user.userId != equipo.userId && equipo.userId == perfil.id" class="derecha">
            <ion-button color="danger"
                        class="derecha"
                        (click)="sacarEquipo(user.userId)">
                        <ion-icon color="light" name="person-remove-outline"></ion-icon>
                      </ion-button>
          </ion-col> 
          <ion-col *ngIf="user.userId == perfil.id && user.userId!=equipo.userId" class="derecha">
            <ion-button color="warning"
                        class="derecha"
                        fill="clear"                                            
                        (click)="salirEquipo(user.equipoId)">SALIRME</ion-button>
          </ion-col>
        </ion-row>
        

      </div>
    </div>
  </ion-grid>
  </ion-slide>





  <ion-slide>
    <!-- <ion-grid>
    <div>
      <ion-card class="blanco">
        <ion-row *ngFor="let user of equipoUsers">
          <ion-col size="6" class="izquierda">        
            <h5 style="color: black;">{{user.user.nombreUsuario}}</h5>                  
          </ion-col>
          <ion-col class="derecha" *ngIf="user.userId == equipo.userId">
            <h5>Capitan</h5>
          </ion-col>
          <ion-col *ngIf="user.userId != equipo.userId" class="derecha">
            <ion-button color="danger"
                        class="derecha"
                        (click)="sacarEquipo(user.userId)">
                        <ion-icon color="light" name="person-remove-outline"></ion-icon>
                      </ion-button>
          </ion-col>    
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-button   color="success"
                        expand="full"
                        (click)="ocultar()"
                        (click)="goSlide1()">Regresar</ion-button>
                      </ion-col>
        </ion-row>
      </ion-card>
    </div>  
  </ion-grid> -->
  </ion-slide>
  
  
</ion-slides>

</ion-content>
