<app-header titulo="Reservar"></app-header>


<ion-content class="background">

  <!-- <ion-button (click)="obtenerReservaciones()">MOSTRAR HORARIOS</ion-button>
  <ion-item *ngFor='let user of reser'>
    <ion-label>Esta es la hora: : {{user.horaInicial | date:'yyyy-MM-dd HH'}}</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>Hora Inicial</ion-label>
  <ion-datetime displayFormat="D MMM YYYY H" 
                name="horaInicial"
                
                [(ngModel)]="reservacion.horaInicial">
  </ion-datetime>
</ion-item>

<h3>{{reservacion.horaInicial}}</h3> -->

  

  <!-- SELECT PARA ELEGIR COMPLEJO -->
  <!-- <ion-list>
    <ion-item>
      <ion-label>Complejo</ion-label>
      <ion-select [(ngModel)]="seleccion"
                  (ngModelChange)="obtenerCancha()">
        <ion-select-option *ngFor="let user of complejosAbiertos" value="{{user.idComplejo}}" >
          {{user.nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> -->



<!-- <form #formulario="ngForm" (ngSubmit)="agregarReservacion()"> -->

  <!-- <ion-list> -->

    <!-- INGRESAR HORA INICIAL Y FINAL DE RESERVACION -->
    <!-- <ion-item>
      <ion-label>Hora Inicial</ion-label>
      <ion-datetime displayFormat="HH:mm" 
                    name="horaInicial"
                    minuteValues="0" min="10:00" 
                    [(ngModel)]="reservacion.horaInicial">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Hora Final</ion-label>
      <ion-datetime displayFormat="HH:mm" 
                    name="horaFinal"
                    minuteValues="0" min="11:00" 
                    [(ngModel)]="reservacion.horaFinal">
      </ion-datetime>
    </ion-item> -->


    <!-- INGRESAR ID DE LA CANCHA -->
    <!-- <ion-list>
      <ion-item>
        <ion-label>Cancha</ion-label>
        <ion-select [(ngModel)]="reservacion.idCancha"
                    (ngModelChange)="obtenerCanchaId()"
                    name="idCancha">
          <ion-select-option *ngFor="let user of canchas" value="{{user.idCancha}}" >
            Lps. {{user.precio}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list> -->


  <!-- BOTONES PARA VER COMPLEJOS Y RESERVAR -->
  <!-- </ion-list>
  <ion-row>
    <ion-col>
      <ion-button expand="full" type="submit"
                  shape="round"
                  size="small"
                  color="tertiary"
                  [disabled]="formulario.invalid" 
                  routerLink="/inicio">
                  Reservar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round"
                  expand="full"
                  size="small"
                  color="tertiary"
                  routerLink="/lista-complejos">
        Ver complejos
      </ion-button>
    </ion-col>
  </ion-row> -->


    <!-- BOTON GRANDE PARA RESERVAR -->
  <!-- <ion-button expand="full" type="submit"
  [disabled]="formulario.invalid" routerLink="/inicio">
      Reservar
  </ion-button> -->

<!-- </form> -->

<!-- IMG PARA VISUALIZAR CANCHAS -->
  <!-- <ion-item>
    <img src={{canchaId.foto}} alt="200" width="500" class="img-rounded">
  </ion-item> -->




<!-- AQUI COMIENZA LO NUEVO CON SLIDES -->


<ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>
    
  <ion-slide>

    <form>
      <ion-grid fixed>

        <ion-row>
          <ion-col>
            <!-- <img src="/assets/img/im2.png" alt="10" width="20"> -->
            <h1 class="ion-text-center" style="color: white;">Elige el complejo que quieras</h1>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
            
              <div *ngFor='let user of complejos'>

              <ion-card class="ion-text-center" style="background-color: #F1F1F6; border-radius : 10px;">
                
                <ion-row>
                  <ion-col *ngIf='user.estado == true'><h3>Abierto Ahora</h3></ion-col>
                  <ion-col *ngIf='user.estado == false'><h3>Cerrado Ahora</h3></ion-col>
                </ion-row>
                <img src="{{user.foto}}" alt="200" width="500">
                <ion-card-title>
                  {{user.nombre}}
                </ion-card-title>
                <h6>
                  <ion-icon name="location-outline" color="primary"></ion-icon>
                     {{user.localidad }}
                </h6>
                <ion-button type="submit"
                        color="tertiary"
                        shape="round"
                        (click)="obtenerCanchasComplejo(user.idComplejo)"
                        (click)="obtenerComplejo(user.idComplejo)"
                        (click)="goCancha()">
              Elegir cancha
            </ion-button>

              </ion-card>

              </div>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col>
            <ion-button type="submit"
                        color="tertiary"
                        shape="round"
                        (ngModelChange)="obtenerCancha()"
                        (click)="goCancha()">
              Canchas
            </ion-button>
          </ion-col>
        </ion-row> -->

      </ion-grid>
    </form>
  </ion-slide>

  <!-- ----------------------------------------SLIDE CANCHAS----------------------------------------------- -->
  <ion-slide>
    <ion-grid fixed>
          <form>
            <ion-row>
              <ion-col>
                <!-- <img src="/assets/img/im2.png"> -->
              </ion-col>
            </ion-row>
              <ion-row>
                  <ion-col>  

                      <div *ngFor='let user of canchas'>

                        <ion-card class="ion-text-center" style="border-radius : 10px;">
                          <img src="{{user.foto}}" alt="200" width="500">
                          <ion-card-title>
                            Precio/hora: Lps.{{user.precio}}.00
                          </ion-card-title>
                          <ion-row>

                          </ion-row>
                        
                          <ion-button type="submit"
                            color="tertiary"
                            shape="round"
                            
                            (click)="obtenerCancha(user.idCancha)"
                            (click)="goHorarios()">
                            Elegir hora
                          </ion-button>

                      </ion-card>
                          
                      </div>
                  </ion-col>
              </ion-row>

              <ion-row>
              <ion-col>
                  <ion-button type="submit"
                              color="tertiary"
                              shape="round"
                              (click)="goComplejos()">
                      Regresar
                  </ion-button>
              </ion-col>
          </ion-row>
          </form>
      </ion-grid>

    </ion-slide>


<!-- -------------------------------SLIDE HORARIOS------------------------------------- -->
    <ion-slide>
      <ion-grid fixed>
            <form>
                <ion-row>
                  <ion-col>
                    <h3 style="text-shadow: 1px 1px 1px black; color: white; border-radius : 10px;">
                    En este complejo puede reservar entre <b>{{complejo.horaInicio | date:'HH'}}:00</b>
                     y 
                     <b>{{complejo.horaCierre | date:'HH'}}:00</b>
                  </h3>
                  </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>  
  
                      <ion-item>
                        <ion-label>Hora Inicial</ion-label>
                        <ion-datetime displayFormat="D MMM YYYY HH:mm" 
                                      name="horaInicial"
                                      minuteValues="0" min="10:00" 
                                      [(ngModel)]="reservacion.horaInicial"
                                      (ngModelChange)="volver()">
                        </ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Hora Final</ion-label>
                        <ion-datetime displayFormat="D MMM YYYY HH:mm" 
                                      name="horaFinal"
                                      minuteValues="0" min="11:00" 
                                      [(ngModel)]="reservacion.horaFinal"
                                      (ngModelChange)="volver()">
                        </ion-datetime>
                      </ion-item>
                        
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round"
                                (click)="goCancha()">
                        Regresar
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round"
                                *ngIf="auxReser==true"
                                (click)="llenar()"
                                (click)="goReservar()">
                        Ver resumen
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <h3 style="text-shadow: 1px 1px 1px black; color: white;">Estas reservando por un tiempo de </h3>
                <h2 *ngIf="auxHoras!=null" style="text-shadow: 1px 1px 1px black; color: white;">{{auxHoras}} horas</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="obtenerReservaciones()">Verificar Horario</ion-button>
              </ion-col>
            </ion-row>
            </form>
        </ion-grid>
  
      </ion-slide>


<!-- ----------------------------------SLIDE RESUMEN---------------------------------------- -->
    <ion-slide>
      <ion-grid fixed>
            <form>
              <ion-row>
                <ion-col>
                  <!-- <img src="/assets/img/im2.png"> -->
                </ion-col>
              </ion-row>
                <ion-row>
                    <ion-col>  

                      <ion-card class="ion-text-center" style="background-color: rgb(236, 236, 243); border-radius : 10px;">
                          <h3 class="ion-text-center">Complejo: {{complejo.nombre}}</h3>
                          <h6>
                            <ion-icon class="size" name="calendar-outline" color="secondary"></ion-icon>
                                Dia y hora de reserva:
                          </h6>
                          <h6>{{reservacion.horaInicial | date:'MMMM-dd HH:mm'}} a {{reservacion.horaFinal | date:'HH:mm'}}</h6>
                          <h6>
                            <ion-icon class="size" name="cash-outline" color="success"></ion-icon>
                              Total a pagar:
                          </h6>
                          <h6>Lps.{{canchaId.precio}}.00</h6>                          
                          <h6>
                            <ion-icon class="size" name="location-outline" color="primary"></ion-icon>
                              Direccion:
                          </h6>
                          <h6>{{complejo.localidad}}</h6>
                          <!-- <ion-item>De: {{reservacion.horaInicial | date:'yyyy-MM-dd HH:mm'}}</ion-item>
                          <ion-item>A: {{reservacion.horaFinal | date:'yyyy-MM-dd HH:mm'}}</ion-item>
                          <ion-item>Total a pagar: {{canchaId.precio * auxHoras}}</ion-item>
                          <ion-item>Complejo: {{complejo.nombre}}</ion-item>
                          <ion-item>Lugar: {{complejo.localidad}}</ion-item> -->
                          

                      </ion-card>
  
                      
                        
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round"
                                (click)="goHorarios()">
                        Regresar
                    </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="light"
                                shape="round"
                                expand="full"
                                fill="outline"
                                (click)="agregarReservacion()">
                        Confirmar Reserva
                    </ion-button>
                </ion-col>
            </ion-row>
            </form>
        </ion-grid>
  
      </ion-slide>



</ion-slides>














</ion-content>

