<app-header titulo="Reservar"></app-header>


<ion-content>

  <h1 class="ion-text-center">Reservar TU cancha</h1>

  <ion-list>
    <ion-item>
      <ion-label>Complejo</ion-label>
      <ion-select [(ngModel)]="seleccion"
                  (ngModelChange)="obtenerCancha()">
        <ion-select-option *ngFor="let user of complejos" value="{{user.idComplejo}}" >{{user.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

<form #formulario="ngForm" (ngSubmit)="agregarReservacion()">

  <ion-list>

    <ion-item>
      <ion-label>Hora Inicial</ion-label>
      <ion-datetime displayFormat="HH:mm" 
                    name="horaInicial"
                    minuteValues="0" min="10:00" 
                    [(ngModel)]="reservacion.horaInicial">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Hora Final</ion-label>
      <ion-datetime displayFormat="HH:mm" 
                    name="horaFinal"
                    minuteValues="0" min="11:00" 
                    [(ngModel)]="reservacion.horaFinal">
      </ion-datetime>
    </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Cancha</ion-label>
      <ion-select [(ngModel)]="reservacion.idCancha"
                  name="idCancha">
        <ion-select-option *ngFor="let user of canchas" value="{{user.idCancha}}" >{{user.idCancha}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  </ion-list>

  <ion-button expand="full" type="submit"
  [disabled]="formulario.invalid" routerLink="/inicio">
      Guardar
  </ion-button>

</form>

</ion-content>
