<app-header titulo="Reservar" *ngIf="!atras"></app-header>

<ion-header no-border *ngIf="atras">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="slideAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background">

  <!-- <ion-button (click)="obtenerReservaciones()">MOSTRAR HORARIOS</ion-button>
  <ion-item *ngFor='let user of reser'>
    <ion-label>Esta es la hora: : {{user.horaInicial | date:'yyyy-MM-dd HH'}}</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>Hora Inicial</ion-label>
  <ion-datetime displayFormat="D MMM YYYY H" 
                name="horaInicial"
                
                [(ngModel)]="reservacion.horaInicial">
  </ion-datetime>
</ion-item>

<h3>{{reservacion.horaInicial}}</h3> -->

  

  <!-- SELECT PARA ELEGIR COMPLEJO -->
  <!-- <ion-list>
    <ion-item>
      <ion-label>Complejo</ion-label>
      <ion-select [(ngModel)]="seleccion"
                  (ngModelChange)="obtenerCancha()">
        <ion-select-option *ngFor="let user of complejosAbiertos" value="{{user.idComplejo}}" >
          {{user.nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> -->



<!-- <form #formulario="ngForm" (ngSubmit)="agregarReservacion()"> -->

  <!-- <ion-list> -->

    <!-- INGRESAR HORA INICIAL Y FINAL DE RESERVACION -->
    <!-- <ion-item>
      <ion-label>Hora Inicial</ion-label>
      <ion-datetime displayFormat="HH:mm" 
                    name="horaInicial"
                    minuteValues="0" min="10:00" 
                    [(ngModel)]="reservacion.horaInicial">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Hora Final</ion-label>
      <ion-datetime displayFormat="HH:mm" 
                    name="horaFinal"
                    minuteValues="0" min="11:00" 
                    [(ngModel)]="reservacion.horaFinal">
      </ion-datetime>
    </ion-item> -->


    <!-- INGRESAR ID DE LA CANCHA -->
    <!-- <ion-list>
      <ion-item>
        <ion-label>Cancha</ion-label>
        <ion-select [(ngModel)]="reservacion.idCancha"
                    (ngModelChange)="obtenerCanchaId()"
                    name="idCancha">
          <ion-select-option *ngFor="let user of canchas" value="{{user.idCancha}}" >
            Lps. {{user.precio}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list> -->


  <!-- BOTONES PARA VER COMPLEJOS Y RESERVAR -->
  <!-- </ion-list>
  <ion-row>
    <ion-col>
      <ion-button expand="full" type="submit"
                  shape="round"
                  size="small"
                  color="tertiary"
                  [disabled]="formulario.invalid" 
                  routerLink="/inicio">
                  Reservar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round"
                  expand="full"
                  size="small"
                  color="tertiary"
                  routerLink="/lista-complejos">
        Ver complejos
      </ion-button>
    </ion-col>
  </ion-row> -->


    <!-- BOTON GRANDE PARA RESERVAR -->
  <!-- <ion-button expand="full" type="submit"
  [disabled]="formulario.invalid" routerLink="/inicio">
      Reservar
  </ion-button> -->

<!-- </form> -->

<!-- IMG PARA VISUALIZAR CANCHAS -->
  <!-- <ion-item>
    <img src={{canchaId.foto}} alt="200" width="500" class="img-rounded">
  </ion-item> -->




<!-- AQUI COMIENZA LO NUEVO CON SLIDES -->

<!-- <ion-fab slot="fixed">
    <ion-fab-button fill="outline">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


<ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>
    
  <ion-slide>
    <ion-grid>
      <form>

        <ion-row>
          <ion-col>
            <!-- <img src="/assets/img/im2.png" alt="10" width="20"> -->
            <!-- <h1 class="ion-text-center" style="color: black;">Elige el complejo que quieras</h1> -->
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
            
              <div class="borA" *ngFor='let user of complejos' style="background-color: rgb(211, 197, 197, 0);">
                <br>
                <img class="img" src="{{user.foto}}">
                <h2 class="shadow" style="color: white;">
                  {{user.nombre}}
                </h2>
                <ion-row>
                  <ion-col *ngIf='user.estado == true'><label class="shadow" style="color: blue;">Abierto Ahora</label></ion-col>
                  <ion-col *ngIf='user.estado == false'><label class="shadow" style="color: blue;">Cerrado Ahora</label></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngIf="user.parqueo">
                    <label><ion-icon class="size" name="car-outline" color="tertiary"></ion-icon>
                      Con parqueo</label>
                  </ion-col>
                  <ion-col *ngIf="!user.parqueo">
                    <label><ion-icon class="size" name="car-outline" color="tertiary"></ion-icon>
                      Sin parqueo</label>
                  </ion-col>
                  <ion-col *ngIf="user.seguridad">
                    <label><ion-icon class="size" name="lock-closed-outline" color="danger"></ion-icon>
                      Con seguridad</label>
                  </ion-col>
                  <ion-col *ngIf="!user.seguridad">
                    <label><ion-icon class="size" name="lock-open-outline" color="danger"></ion-icon>
                      Sin seguridad</label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <label style="color: white;">
                      <ion-icon class="size" name="location-outline" style="color: red;"></ion-icon>
                         {{user.localidad }}
                    </label>
                  </ion-col>
                  <ion-col>
                    <label style="color: white;">
                      <ion-icon class="size" name="call-outline" style="color: red;"></ion-icon>
                         {{user.numero }}
                    </label>
                  </ion-col>
                </ion-row>
                
                
                
                <ion-button type="submit"
                        color="success"
                        shape="round"
                        (click)="obtenerCanchasComplejo(user.idComplejo)"
                        >
              Elegir cancha
            </ion-button>
            <br>

              </div>
          </ion-col>
        </ion-row>

      </form>
    </ion-grid>    
  </ion-slide>

  <!-- ----------------------------------------SLIDE CANCHAS----------------------------------------------- -->
  <ion-slide>
    <ion-grid>
          <form>
            <ion-row>
              <ion-col>
                <!-- <img src="/assets/img/im2.png"> -->
                <!-- <h1 class="ion-text-center" style="color: black;">Elige la cancha que mas te guste</h1> -->
              </ion-col>
            </ion-row>


              <ion-row>
                  <ion-col>  

                      <div class="borA" *ngFor='let user of canchas' style="background-color: rgb(211, 197, 197, 0);">
                        <br>  
                        <img class="img" src="{{user.foto}}">
                          <h2>
                            Precio/hora: Lps.{{user.precio}}.00
                          </h2>
                          <h6>
                            Cancha {{user.tamanioCancha}}
                          </h6>
                        
                          <ion-button type="submit"
                            color="success"
                            shape="round"
                            (click)="obtenerCancha(user.idCancha)"
                            (click)="goHorarios()">
                            Elegir hora
                          </ion-button>
                          
                      </div>
                  </ion-col>
              </ion-row>

              
          </form>
      </ion-grid>

    </ion-slide>


<!-- -------------------------------SLIDE HORARIOS------------------------------------- -->
    <ion-slide>
      <ion-grid fixed>
            <form>
                <ion-row>
                  <ion-col>
                    <h3>
                    Horario permitido para reservar: 
                  </h3>
                  <h3>
                    <b style="color: red;">{{complejo.horaInicio | date:'HH'}}:00</b>
                     a 
                     <b style="color: red;">{{complejo.horaCierre | date:'HH'}}:00</b>
                  </h3>
                  </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>  
  
                      <ion-item>
                        <ion-label>Hora Inicial</ion-label>
                        <ion-datetime displayFormat="D MMM YYYY HH:mm" 
                                      name="horaInicial"
                                      minuteValues="0" min="10:00" 
                                      [(ngModel)]="hInicio"
                                      (ngModelChange)="volver()">
                        </ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Hora Final</ion-label>
                        <ion-datetime displayFormat="D MMM YYYY HH:mm" 
                                      name="horaFinal"
                                      minuteValues="0" min="11:00" 
                                      [(ngModel)]="hFin"
                                      (ngModelChange)="volver()">
                        </ion-datetime>
                      </ion-item>
                        
                    </ion-col>
                </ion-row>
                <ion-row>
                <ion-col>
                  <ion-button type="submit"
                              color="success"
                              fill="outline"
                              (click)="validarFecha()">
                              Verificar Horario
                  </ion-button>
              </ion-col>
                <ion-col>
                    <ion-button type="submit"
                                color="success"
                                *ngIf="auxReser==true"
                                (click)="llenar()"
                                (click)="goReservar()">
                        Ver resumen
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <h3 style="color: white;">Estas reservando por un tiempo de </h3>
                <!-- <h3 style="text-shadow: 1px 1px 1px black; color: black;">Estas reservando por un tiempo de </h3> -->
                <h2 *ngIf="auxHoras!=null">{{auxHoras}} h</h2>
              </ion-col>
            </ion-row>

            </form>
        </ion-grid>
  
      </ion-slide>


<!-- ----------------------------------SLIDE RESUMEN---------------------------------------- -->
    <ion-slide>
      <ion-grid fixed>
            <form>
              <ion-row>
                <ion-col>
                  <!-- <img src="/assets/img/im2.png"> -->
                </ion-col>
              </ion-row>
                <div>

                      <ion-grid>
                        <h1 class="shadow">Detalle de la reserva</h1>
                        <br>
                        <h3 class="borA shadow">Información Complejo</h3>
                        <ion-row class="borA">
                          <ion-col class="izquierda">
                            <label class="shadow">Nombre:</label>
                          </ion-col>
                          <ion-col class="izquierda">
                            <label class="shadow">{{complejo.nombre}}</label>
                          </ion-col>
                        </ion-row>
                        <ion-row class="borA">
                          <ion-col class="izquierda">
                            <label class="shadow">Día y hora de reserva:</label>
                          </ion-col>
                          <ion-col class="izquierda">
                            <label class="shadow">{{hInicio | date:'MMMM-dd HH:mm'}} a {{hFin | date:'HH:mm'}}</label>
                          </ion-col>
                        </ion-row>                        
                          
                        <ion-row class="borA">
                          <ion-col class="izquierda">
                            <label class="shadow">Total a pagar:</label>
                          </ion-col>
                          <ion-col class="izquierda">
                            <label class="shadow">Lps.{{canchaId.precio * auxHoras}}.00</label>
                          </ion-col>
                        </ion-row>
                        <ion-row class="borA">
                          <ion-col class="izquierda">
                            <label class="shadow"> Dirección:</label>
                          </ion-col>
                          <ion-col class="izquierda">
                            <label class="shadow">{{complejo.localidad}}</label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="izquierda">
                            <label class="shadow">Teléfono:</label>
                          </ion-col>
                          <ion-col class="izquierda">
                            <label class="shadow">{{complejo.numero}}</label>
                          </ion-col>
                        </ion-row>
                        
                      </ion-grid>

                      <ion-grid>
                        <h3 class="borA shadow">Datos Personales</h3>

                        <ion-row class="borA">
                          <ion-col class="izquierda">
                            <label class="shadow">Usuario:</label>
                          </ion-col>
                          <ion-col class="izquierda">
                            <label class="shadow">{{perfil.nombreUsuario}}</label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="izquierda">
                            <label class="shadow">Correo:</label>
                          </ion-col>
                          <ion-col class="izquierda">
                            <label class="shadow">{{perfil.email}}</label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>

                          </ion-col>
                          <ion-col>
                            
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                      <!-- <ion-card class="ion-text-center" style="background-color: rgb(236, 236, 243); border-radius : 10px;">
                          <h3 class="ion-text-center">Complejo: {{complejo.nombre}}</h3>
                          <h6>
                            <ion-icon class="size" name="calendar-outline" color="secondary"></ion-icon>
                                Dia y hora de reserva:
                          </h6>
                          <h6>{{reservacion.horaInicial | date:'MMMM-dd HH:mm'}} a {{reservacion.horaFinal | date:'HH:mm'}}</h6>
                          <h6>
                            <ion-icon class="size" name="cash-outline" color="success"></ion-icon>
                              Total a pagar:
                          </h6>
                          <h6>Lps.{{canchaId.precio * auxHoras}}.00</h6>                          
                          <h6>
                            <ion-icon class="size" name="location-outline" color="primary"></ion-icon>
                              Direccion:
                          </h6>
                          <h6>{{complejo.localidad}}</h6>
                          

                      </ion-card> -->
  
                      
                        
                </div>

              <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="success"
                                shape="round"
                                expand="full"
                                (click)="agregarReservacion()">
                        Confirmar Reserva
                    </ion-button>
                </ion-col>
            </ion-row>
            </form>
        </ion-grid>
  
      </ion-slide>



</ion-slides>














</ion-content>

