<app-header titulo="Mi Perfil"></app-header>

<ion-content class="background">

  <div>
    <ion-row>
      <ion-col>
        <ion-row><h5 style="color: white;">{{user.nombreUsuario}}</h5></ion-row>
        <!-- <ion-row><h5>{{user.email}}</h5></ion-row>       -->
      </ion-col>
      <ion-col><h5 style="color: white;">{{user.edad}} años</h5></ion-col>
    </ion-row>
  </div>

  

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>

    <ion-slide>
      <ion-grid>
        <form>

          <ion-row center>
            <ion-button (click)="obtenerMisReservacion()">Ver mi historial reservas</ion-button>
          </ion-row>

          <h1 style="color: white;">Reservas Pendientes</h1>

          <div>
            <ion-row class="ion-align-items-center bor" >
              <ion-col class="centrado"><h5>Día</h5></ion-col>
              <ion-col class="centrado"><h5>Horario</h5></ion-col>
              <ion-col class="derecha">                
              </ion-col>
            </ion-row>            
        </div>

        <div *ngFor="let item of reservacionesNoVencidas">
            <ion-row class="ion-align-items-center">
              <ion-col class="centrado" ><label>{{item.horaInicial | date:'MMMM-dd'}}</label></ion-col>
              <ion-col class="centrado" ><label>{{item.horaInicial | date:'HH:mm'}} a {{item.horaFinal | date:'HH:mm'}}</label></ion-col>
              <ion-col class="derecha">
                <ion-button color="success"
                            class="derecha"      
                            fill="clear"    
                                       
                            (click)="obtenerReservacionId(item.idReservacion)">
                            <ion-icon color="success" class="size" name="return-up-forward-outline"></ion-icon>
                            </ion-button>
                
              </ion-col>
            </ion-row>            
        </div>
        </form>
      </ion-grid>
    </ion-slide>

<!-- ---------------------------------------------------SLIDE 2--------------------------------------------- -->

    <ion-slide>
      <ion-grid>
        <form>
          <h2 class="ion-text-center">Mis reservaciones</h2>          

            <div>
              <ion-card class="ion-text-center" style="background-color: rgb(230, 230, 241); border-radius : 10px;">      

                  <div style="display: inline-block; position:relative">
                    <img src="{{cancha.foto}}" alt="200" width="500">
                    <div style="display: inline-block; position:absolute; top:100%; left:50%; transform: translate(-50%, -50%)">      
                      <img src="{{complejo.foto}}" class="imgRedonda">
                  </div>
                  </div>
                  <br><br><br><br><br>
                  <h3 class="ion-text-center">{{complejo.nombre}}</h3>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="calendar-outline" color="secondary"></ion-icon>
                      <h6>{{reservacion.horaInicial | date:'MMMM-dd'}}</h6>
                      <h6>                       
                          {{reservacion.horaInicial | date:'HH:mm'}} a {{reservacion.horaFinal | date:'HH:mm'}}
                      </h6>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="cash-outline" color="success"></ion-icon>
                      <h6>                        
                          Lps. {{cancha.precio * auxHoras}}
                      </h6>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="location-outline" color="primary"></ion-icon>
                      <h6>                        
                          {{complejo.localidad}}
                      </h6>
                    </ion-col>
                    <ion-col>
                      <ion-icon name="call-outline" color="secondary"></ion-icon>
                      <h6>                        
                        {{complejo.numero}}
                    </h6>
                    </ion-col>
                  </ion-row>
                  

                  
                  <ion-row>
                    <ion-col class="izquierda">
                      <label>
                        <ion-icon slot="start" name="trash-outline" color="danger" (click)="confirmarCancelacion()">Cancelar resereserva</ion-icon>
                      </label>
                    </ion-col>          
                    <!-- <ion-col class="centrado" *ngIf="!reservacion.pago || !reservacion.pagoParcial">
                      <ion-button (click)="obtenerReservacionId(reservacion.idReservacion)"
                                  (click)="obtenerCanchaId(reservacion.idCancha)"
                                  (click)="pagarCompleto()">Pagar 100%</ion-button>
                    </ion-col> -->
                    <ion-col class="derecha" *ngIf="!reservacion.pago && !reservacion.pagoParcial">
                      <ion-button 
                                  (click)="pagarParcial()"
                                  >Pagar Reserva</ion-button>
                    </ion-col>
                  </ion-row>
                  
                  
               </ion-card>
             </div>
        </form>
      </ion-grid>
    </ion-slide>

  </ion-slides>
  
  
  

  <!-- ------------------------------------------------------------------------------------ -->

  


  
  <!-- <div *ngFor="let item of reservacionesNoVencidas" style="background-color: rgb(67, 179, 96);">
    <ion-card class="ion-text-center" style="background-color: rgb(230, 230, 241); border-radius : 10px;">      

        <div style="display: inline-block; position:relative">
          <img src="{{item.cancha.foto}}" class="img">
          <div style="display: inline-block; position:absolute; top:100%; left:50%; transform: translate(-50%, -50%)">      
            <img src="{{item.cancha.complejo.foto}}" class="imgRedonda">
        </div>
        </div>
        <br><br><br><br><br>
        <h3 class="ion-text-center">{{item.cancha.complejo.nombre}}</h3>
        <h6>
          <ion-icon name="calendar-outline" color="secondary"></ion-icon>
              {{item.horaInicial | date:'MMMM-dd HH:mm'}} a {{item.horaFinal | date:'MMMM-dd HH:mm'}}
          </h6>
        <h6>
          <ion-icon name="cash-outline" color="success"></ion-icon>
            Lps. {{item.cancha.precio}}
        </h6>

        <h6>
          <ion-icon name="location-outline" color="primary"></ion-icon>
            {{item.cancha.complejo.localidad}}
        </h6>
        <label>
          <ion-icon slot="start" name="trash-outline" color="danger" (click)="eliminarReservacion(item.idReservacion)">Eliminar reservacion</ion-icon>
        </label>
    </ion-card>
</div> -->
  

  <!-- <ion-button (click)="obtenerEquipoUsuario()">Ver equipo</ion-button>
  <ion-card>
    <ion-list *ngFor="let item of equipos">
      <ion-item>{{item.usuario.nombre}}</ion-item>
      <ion-item>
      </ion-item>
    </ion-list>
  </ion-card> -->

  

</ion-content>
