.img {
    width: 500px;
    height: 220px;
  }
  ion-icon {
      font-size: 27px;
  }
  .imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
    border:5px solid #666;
}

.derecha{
  text-align: right;
}
.centrado{
  text-align: center;
}
.izquierda{
  text-align: left;
}