.img {
    width: 500px;
    height: 220px;
  }
  ion-icon.size {
      font-size: 35px;
  }
  .imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
    border:5px solid rgb(255, 255, 255);
}

.derecha{
  text-align: right;
}
.centrado{
  text-align: center;
}
.izquierda{
  text-align: left;
}

.bor {
  border-bottom: white 2px solid;
}

ion-content.background{
  --background: url(/assets/img/fondo5.jpg) 0 0/100% 100% no-repeat;
  opacity: 0.8;
}

.shadow {
  text-shadow: 2px 2px #080808;
}

label, ion-label, h1, h2, h3, h4, h5, h6 {
  text-shadow: 2px 2px 8px #080808;
}

.img {
  min-height: 250px;
  max-height: 570px;
  width: 100%;
}