.back {
    background-color: rgb(197, 216, 201);
}

ion-content.background{
    --background: url(/assets/img/cancha.jpg) 0 0/100% 100% no-repeat;
    opacity: 0.8;
  }

  .shadow {
    text-shadow: 2px 2px #080808;
  }