<app-header titulo="Cancha" *ngIf="!atras"></app-header>

<ion-header no-border *ngIf="atras">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goSlide1()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- <form #formulario="ngForm" (ngSubmit)="agregarCancha()">

  <ion-item>
    <ion-label>Foto</ion-label>
    <input type="file"
    id="img"
    name="img"
   ngModel
   required>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="text"
                  name="precio"
                 [(ngModel)]="cancha.precio"
                 required>
                </ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Complejo</ion-label>
        <ion-select [(ngModel)]="cancha.idComplejo"
                    name="idCancha">
          <ion-select-option *ngFor="let user of complejos" value="{{user.idComplejo}}" >{{user.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </ion-list>

  <ion-button expand="full" type="submit"
  [disabled]="formulario.invalid" routerLink="/inicio">
      Guardar
  </ion-button>
</form> -->


<ion-content center class="background">

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>
    
    <ion-slide>  
      <form #formulario="ngForm">
        <ion-grid>
  
          <ion-row>
            <ion-col>
              <!-- <img src="/assets/img/im2.png" alt="10" width="20"> -->
            </ion-col>
          </ion-row>
        
          <ion-row class="center">
            <ion-col>
              
                <div *ngFor='let user of complejos'>
  
                <ion-card class="ion-text-center back">

                  <img src="{{user.foto}}" alt="200" width="500">
                  <ion-card-title style="color: black;">
                    Complejo: {{user.nombre}}
                  </ion-card-title>
                  
              <ion-row>
                <ion-col size="6">
                  <ion-button type="submit"
                      color="tertiary"
                      (click)="obtenerIdComplejo2(user.idComplejo)"
                      (click)="goSlideCancha()">
                      Crear cancha
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button type="submit"
                      color="tertiary"
                      (click)="obtenerIdComplejo(user.idComplejo)"
                      >
                      Ver cancha
                  </ion-button>
                </ion-col>
              </ion-row>
  
                </ion-card>
  
                </div>
            </ion-col>
          </ion-row>
  

  
        </ion-grid>
      </form>
    </ion-slide>
  
<!-- ----------------------------------------SLIDE AGREGAR CANCHA---------------------------------------- -->
    <ion-slide>
      <ion-grid>
            <form #formulario="ngForm">

                <ion-row>
                    <ion-col>  
  
                      
                        <ion-label class="ion-text-center">Cual sera el precio por hora que tendra esta cancha?</ion-label>                      
                      

                      <ion-item>
                        <ion-label position="floating">Precio Lps.</ion-label>
                        <ion-input type="number"
                                    name="precio"
                                   [(ngModel)]="cancha.precio"
                                   required>
                                  </ion-input>
                      </ion-item>
                      <br>

                      <ion-list>
                        <ion-label>¿Qué tamaño tiene la cancha?</ion-label>
                        <ion-item>
                            <ion-select [(ngModel)]="cancha.tamanioCancha"
                                        name="tamanioCancha"
                                        required>
                              <ion-select-option value="Pequeña" >Pequeña</ion-select-option>
                              <ion-select-option value="Mediana" >Mediana</ion-select-option>
                              <ion-select-option value="Grande" >Grande</ion-select-option>
                            </ion-select>
                        </ion-item>
                      </ion-list>

                      
                          <h4>Agrega una foto de la cancha</h4>
                        <ion-item class="ion-text-center">
                        <input type="file"
                        id="imgCancha"
                        name="imgCancha"
                        ngModel
                        required>
                      </ion-item>
                        
                    </ion-col>
                </ion-row>

            <ion-row>
              <!-- <ion-col>
                <ion-button type="submit"
                          color="success"
                          shape="round"
                          expand="full"
                          (click)="goSlide1()">
                          <ion-icon name="caret-back-outline"></ion-icon>
                          Regresar
                        </ion-button>
              </ion-col> -->
              <ion-col>
                <ion-button type="submit"
                            color="success"
                            expand="full"
                            [disabled]="formulario.invalid"
                            (click)="agregarCancha()">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        Crear cancha
                    </ion-button>
              </ion-col>
              </ion-row>

            </form>
        </ion-grid>  
      </ion-slide>
    

<!-- ------------------------------------------SLIDE VER CANCHAS---------------------------------------------- -->

  <ion-slide>  
    <form>
      <ion-grid>

        <!-- <ion-row class="center">
          <ion-col>
            <ion-button type="submit"
                        color="success"
                        shape="round"
                        (click)="goSlide1()">
                        <ion-icon name="caret-back-outline"></ion-icon>
              Regresar
            </ion-button>
          </ion-col>
        </ion-row> -->

      
        <ion-row class="center">
          <ion-col>
            
              <div *ngFor='let user of canchas'>

              <ion-card class="ion-text-center" color="medium">
                <ion-row>
                  <ion-col>
                    <ion-card-header>                  
                      <ion-card-title style="color: black;">Precio</ion-card-title>
                    </ion-card-header>
                      <ion-card-subtitle (click)="getCanchaId(user.idCancha)"
                                          (click)="presentAlertPrompt()"
                                          style="color: blue;"><u>&#8226; Lps. {{user.precio}}</u>
                                        </ion-card-subtitle>
                  </ion-col>
                  <ion-col>
                    <ion-card-header style="color: black;">                  
                      <ion-card-title>Tamaño</ion-card-title>
                    </ion-card-header>
                      <ion-card-subtitle style="color: black;">{{user.tamanioCancha}}
                                        </ion-card-subtitle>
                  </ion-col>
                </ion-row>
                

                <img class="img" src="{{user.foto}}" alt="200" width="500">
                

              </ion-card>

              </div>
          </ion-col>
        </ion-row>

        

      </ion-grid>
    </form>
  </ion-slide>
  
  </ion-slides>
  


</ion-content>
