<app-header titulo="Cancha"></app-header>


<form #formulario="ngForm" (ngSubmit)="agregarCancha()">

  <ion-list>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="text"
                  name="precio"
                 [(ngModel)]="cancha.precio"
                 required>
                </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-input type="string"
                  name="estado"
                 [(ngModel)]="cancha.estado"
                 required>
                </ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Complejo</ion-label>
        <ion-select [(ngModel)]="cancha.idComplejo"
                    name="idCancha">
          <ion-select-option *ngFor="let user of complejos" value="{{user.idComplejo}}" >{{user.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>



  </ion-list>

  <ion-button expand="full" type="submit"
  [disabled]="formulario.invalid" routerLink="/inicio">
      Guardar
  </ion-button>

</form>


<ion-content>


</ion-content>
