<app-header titulo="Cancha" *ngIf="!atras"></app-header>

<ion-header no-border *ngIf="atras">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goSlide1()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- <form #formulario="ngForm" (ngSubmit)="agregarCancha()">

  <ion-item>
    <ion-label>Foto</ion-label>
    <input type="file"
    id="img"
    name="img"
   ngModel
   required>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="text"
                  name="precio"
                 [(ngModel)]="cancha.precio"
                 required>
                </ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Complejo</ion-label>
        <ion-select [(ngModel)]="cancha.idComplejo"
                    name="idCancha">
          <ion-select-option *ngFor="let user of complejos" value="{{user.idComplejo}}" >{{user.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </ion-list>

  <ion-button expand="full" type="submit"
  [disabled]="formulario.invalid" routerLink="/inicio">
      Guardar
  </ion-button>
</form> -->


<ion-content center class="background">

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>
    
<!-- ----------------------------------------SLIDE COMPLEJOS---------------------------------------- -->

    <ion-slide>  
      <form #formulario="ngForm">
        <ion-grid>
  
          <ion-row>
            <ion-col>
              <!-- <img src="/assets/img/im2.png" alt="10" width="20"> -->
            </ion-col>
          </ion-row>
        
          <ion-row class="center">
            <ion-col>
              
                <div *ngFor='let user of complejos'>
  

                  <img class="img" src="{{user.foto}}">
                  <h1 class="shadow">
                    Complejo: {{user.nombre}}
                  </h1>
                  
              <ion-row>
                <ion-col size="6">
                  <ion-button type="submit"
                      fill="outline"
                      color="success"
                      shape="round"
                      (click)="obtenerIdComplejo2(user.idComplejo)"
                      (click)="goSlideCancha()">
                      Crear cancha
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button type="submit"
                      fill="outline"
                      color="success"
                      shape="round"
                      (click)="obtenerComplejoId(user.idComplejo)"
                      >
                      Canchas
                  </ion-button>
                </ion-col>
              </ion-row>
  
  
                </div>
            </ion-col>
          </ion-row>
  

  
        </ion-grid>
      </form>
    </ion-slide>
  
<!-- ----------------------------------------SLIDE AGREGAR CANCHA---------------------------------------- -->
    <ion-slide>
      <ion-grid>
            <form #formulario2="ngForm">

                <ion-row>
                    <ion-col>  
  
                      
                        <ion-label class="ion-text-center">Coloca el precio por hora que tendrá esta cancha</ion-label>                      
                      

                      <ion-item>
                        <ion-label position="floating">Precio Lps.</ion-label>
                        <ion-input type="number"
                                    name="precio"
                                   [(ngModel)]="cancha.precio"
                                   required>
                                  </ion-input>
                      </ion-item>
                      <br>

                      <ion-list>
                        <ion-label>¿Qué tamaño tiene la cancha?</ion-label>
                        <ion-item>
                            <ion-select [(ngModel)]="cancha.tamanioCancha"
                                        name="tamanioCancha"
                                        required>
                              <ion-select-option value="Pequeña" >Pequeña</ion-select-option>
                              <ion-select-option value="Mediana" >Mediana</ion-select-option>
                              <ion-select-option value="Grande" >Grande</ion-select-option>
                            </ion-select>
                        </ion-item>
                      </ion-list>

                      
                          <h4>Agrega una imagen de la cancha</h4>
                        <ion-item class="ion-text-center">
                        <input type="file"
                        id="imgCancha"
                        name="imgCancha"
                        ngModel
                        required>
                      </ion-item>
                        
                    </ion-col>
                </ion-row>

            <ion-row>
              <ion-col>
                <ion-button type="submit"
                            color="success"
                            shape="round"
                            expand="full"
                            [disabled]="formulario2.invalid"
                            (click)="agregarCancha()">
                            <!-- <ion-icon name="add-circle-outline"></ion-icon> -->
                        Crear cancha
                    </ion-button>
              </ion-col>
              </ion-row>

            </form>
        </ion-grid>  
      </ion-slide>
    

<!-- ------------------------------------------SLIDE VER CANCHAS---------------------------------------------- -->

  <ion-slide>  
    <form #formulario3="ngForm">
      <ion-grid>
      
        <ion-row class="center">
          <ion-col>
            
              <div class="bor" *ngFor='let user of canchas' style="background-color: rgb(211, 197, 197, 0);">
                <br>
                <!-- <ion-row>

                  <ion-col class="derecha">
                    <ion-button fill="clear"
                                (click)="getCanchaId(user.idCancha)"
                                >
                    <ion-icon class="size" color="success" slot="start" name="ellipsis-vertical-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row> -->
                

                <div style="display: inline-block; position:relative">
                  <img class="img" src="{{user.foto}}" >
                  <div style="display: inline-block; position:absolute; top:7%; left:97%; transform: translate(-50%, -50%)">
                    <ion-icon class="size" 
                              slot="start" 
                              style="color: red; background-color: rgba(0, 0, 0, 0.1);"
                              (click)="getCanchaId(user.idCancha)"
                              name="ellipsis-vertical"></ion-icon>
                  </div>
                </div>

                
                <ion-row>
                  <ion-col>
                      <label>Precio: Lps. {{user.precio}}</label>
                  </ion-col>
                  <ion-col>
                      <label>Tamaño: {{user.tamanioCancha}}</label>
                  </ion-col>
                </ion-row>
                <br>
              </div>
          </ion-col>
        </ion-row>        

      </ion-grid>
    </form>
  </ion-slide>

  <!-- ------------------------------------------SLIDE ACT IMAGEN---------------------------------------------- -->

  <ion-slide>  
    <form #formulario4="ngForm">
      <ion-grid>
      
        <ion-row class="center">
          <ion-col>
            
            <ion-row>
              <ion-col>
                  <h4>Imagen Actual</h4>
                <div>
                    <img class="img" src="{{cancha.foto}}">
                </div>                  
              </ion-col>
            </ion-row>

              <ion-row>
                <ion-col>
                  <div>
                    <h4>Cambia la imagen</h4>                        
                    <ion-item>
                        <input type="file"
                               id="img"
                               name="img"
                               ngModel
                               required>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button fill="outline"
                              type="submit"
                              color="success"
                              shape="round"
                              [disabled]="formulario4.invalid"
                              (click)="modificarCanchaFoto()">
                              <ion-icon name="sync-outline"></ion-icon>
                      Actualizar
                  </ion-button>  
                </ion-col>
              </ion-row>
              
          </ion-col>
        </ion-row>        

      </ion-grid>
    </form>
  </ion-slide>
  
  </ion-slides>
  


</ion-content>
