.derecha{
    text-align: right;
}
.centrado{
    text-align: center;
  }
.izquierda{
    text-align: left;
}

ion-content.background{
  --background: url(/assets/img/fondograma1.jpg) 0 0/100% 100% no-repeat;
  opacity: 0.8;
}

  .bor {
    border-bottom: rgba(255, 255, 255, 0.877) 1px solid;
}