<app-header titulo="Torneo" *ngIf="!atras"></app-header>

<ion-header no-border *ngIf="atras && !mD">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="slideAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="size shadow" 
                style="color: white;" 
                (click)="actualizar()"
                name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header no-border *ngIf="mD">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goSlide2()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background">

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>

<!-- ---------------------------------------------------SLIDE 1---------------------------------------- -->

    <ion-slide>
      <ion-grid>
        
        <div class="derecha">
          <ion-button color="success" 
                      (click)="mostrarCrear=true"
                      shape="round" 
                      fill="solid"
                      routerLink="/crear-torneo" routerDirection="root">CREAR TORNEO</ion-button>
          </div>  
          
            <h2 class="ion-text-center">Mis torneos</h2>
            <div>
                <ion-row class="ion-align-items-center bor" *ngFor="let item of torneosxUser">
                  <ion-col class="izquierda">
                    <h4 style="color: white;">{{item.nombre}}</h4>
                  </ion-col>
                  <ion-col *ngIf="item.diaTorneo < hoy">
                    <label  style="color: tomato;"> Finalizado</label>
                  </ion-col>
                  <ion-col *ngIf="item.diaTorneo > hoy">
                    <label  style="color: rgb(0, 119, 255);"> {{item.diaTorneo | date:'yyyy-MMMM-dd'}}</label>
                  </ion-col>
                  <ion-col class="derecha">
                    <ion-button color="success"
                                          class="derecha"      
                                          shape="round" fill="outline"
                                          (click)="getTorneoId(item.idTorneo)"
                                          >VER</ion-button>
                  </ion-col>
                </ion-row>
            </div>
            

      </ion-grid>
    </ion-slide>
    
<!-- ---------------------------------------------------SLIDE 2---------------------------------------- -->
  <ion-slide>
    <ion-grid fixed>
        <form>
          <h3>{{torneoUser.nombre}}</h3>
          <div>
            <ion-row class="bor">
              <ion-col class="izquierda">
                <h6 style="color: white;">Dia del torneo:</h6>
              </ion-col>
              <ion-col class="derecha">
                <h6 style="color: white;">{{torneoUser.diaTorneo | date:'dd-MMMM-yyyy'}}</h6>
              </ion-col>              
            </ion-row>
            <ion-row class="bor">
              <ion-col class="izquierda">
                <h6 style="color: white;">Cupos habilitados:</h6>
              </ion-col>
              <ion-col class="derecha">
                <h6 style="color: white;">{{torneoUser.cantEquipos}}</h6>
              </ion-col>
            </ion-row>
            <ion-row class="bor">
              <ion-col class="izquierda">
                <h6 style="color: white;">Equipos inscritos: </h6>
              </ion-col>
              <ion-col class="derecha">
                <h6 style="color: white;">{{equipoxTorneo.length}}</h6>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="izquierda">
                <h6 style="color: white;">Cupos disponibles: </h6>
              </ion-col>
              <ion-col class="derecha">
                <h6 style="color: white;">{{torneoUser.cantEquipos - equipoxTorneo.length}}</h6>
              </ion-col>
            </ion-row>

          </div>
          <ion-row>
            <ion-col>
              <ion-button color="success"
                          shape="round"
                        (click)="mostrarDel()">Ver Equipos Inscritos</ion-button>
            </ion-col>
          </ion-row> 
        </form>
  </ion-grid>
  </ion-slide>


<!-- ---------------------------------------------------SLIDE 3---------------------------------------- -->

  <ion-slide>
    <ion-grid>
 
      <!-- <h2 class="ion-text-center">Equipos inscritos: {{calcu}}</h2> -->
      <div>
        <h1>Equipos</h1>
          <ion-row *ngFor="let item of equipoxTorneo" class="bor">
            <ion-col class="izquierda">        
              <h5 style="color: white;">{{item.equipo.nombre}}</h5>                  
            </ion-col> 
            <ion-col class="derecha" *ngIf="mE">
              <ion-button color="success"
                          class="derecha"
                          (click)="sacardTorneo(item.torneoId, item.equipoId)">Sacar del torneo</ion-button>
            </ion-col>    
          </ion-row>

      </div>
      
  </ion-grid>
</ion-slide>

<!-- ---------------------------------------------------SLIDE 4---------------------------------------- -->

<ion-slide>
  <ion-grid>
    <form #formulario="ngForm">

      <ion-row>
        <ion-col>
            <h4>Imagen Actual</h4>
          <div>
              <img class="img" src="{{torneoUser.premioFoto}}">
          </div>                  
        </ion-col>
      </ion-row>
  
        <ion-row>
          <ion-col>
            <div>
              <h4>Cambia la imagen</h4>                        
              <ion-item>
                  <input type="file"
                         id="img"
                         name="img"
                         ngModel
                         required>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-button 
                        type="submit"
                        color="success"
                        shape="round"
                        [disabled]="formulario.invalid"
                        (click)="modificarTorneoConImagen()">
                        <ion-icon name="sync-outline"></ion-icon>
                Actualizar
            </ion-button>  
          </ion-col>
        </ion-row>

    </form>    
  </ion-grid>
</ion-slide>

  
</ion-slides>

</ion-content>
