<app-header titulo="crear usuario"></app-header>


<ion-content>

  <!-- <form #formulario="ngForm" (ngSubmit)="agregarUsuario()">
    <ion-list>

      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input type="text"
                    name="nombreUsuario"
                   [(ngModel)]="perfil.nombreUsuario"
                   required>
                  </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input type ="number"
                    name ="edad"
                   [(ngModel)]="perfil.edad"
                   >
                  </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"
                    name="email"
                   [(ngModel)]="perfil.email"
                   required>
                  </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"
                    name="password"
                   [(ngModel)]="perfil.password"
                   required>
                  </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit"
    [disabled]="formulario.invalid" routerLink="/login">
        Guardar
    </ion-button>
  
  </form> -->

  <form method="post" action="">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre"><br><br>

    <label for="nombre">Asunto:</label>
    <input type="text" name="asunto" id="asunto"><br><br>

    <label for="nombre">Mensaje:</label>
    <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>

    <input type="submit">
  </form>


</ion-content>
