<app-header titulo="crear usuario"></app-header>


<ion-content>

  <form #formulario="ngForm" (ngSubmit)="agregarUsuario()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"
                    name="nombre"
                   [(ngModel)]="perfil.nombre"
                   required>
                  </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input type="text"
                    name="nombreUsuario"
                   [(ngModel)]="perfil.nombreUsuario"
                   required>
                  </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input type ="number"
                    name ="edad"
                   [(ngModel)]="perfil.edad"
                   >
                  </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="string"
                    name="email"
                   [(ngModel)]="perfil.email"
                   required>
                  </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"
                    name="password"
                   [(ngModel)]="perfil.password"
                   required>
                  </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit"
    [disabled]="formulario.invalid" routerLink="/login">
        Guardar
    </ion-button>
  
  </form>

</ion-content>
