<ion-header no-border>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <br>

  <!-- <ion-button expand="full" routerLink="/reservar">RESERVAR CANCHA</ion-button> -->

  <ion-button expand="full" color="secondary" routerLink="/equipo">VER EQUIPO</ion-button>

  <ion-button expand="full" routerLink="/complejo">CREAR COMPLEJO</ion-button>

  <ion-button expand="full" routerLink="/crear-perfil">CREAR PERFIL</ion-button>

  <ion-button expand="full" routerLink="/reservar">REALIZAR RESERVACION</ion-button>

  <ion-button expand="full" routerLink="/cancha">CREAR CANCHA</ion-button>


  <!-- <ion-item>
    <ion-label>Hora Inicial</ion-label>
    <ion-datetime displayFormat="HH:mm" minuteValues="0" min="10:00" [(ngModel)]="hola"></ion-datetime>
  </ion-item>
  {{hola}} -->


</ion-content>
