<ion-header no-border>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center class="">
  <div id="map"></div>
  <br>

  <!-- <ion-button expand="full" routerLink="/reservar">RESERVAR CANCHA</ion-button> -->



  <div *ngIf="!aux2">
    <ion-list>
      <ion-item routerLink="/equipo" detail>
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>Ver equipo</ion-label>
      </ion-item>
      <ion-item routerLink="/reservar" detail>
        <ion-icon slot="start" name="create-outline"></ion-icon>
        <ion-label>Realizar reservacion</ion-label>
      </ion-item>
      <ion-item routerLink="/perfil" detail>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label>Mi perfil</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="aux2">
    <ion-list>
      <ion-item routerLink="/complejo" detail>
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Crear complejo</ion-label>
      </ion-item>
      <ion-item routerLink="/cancha" detail>
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Crear cancha</ion-label>
      </ion-item>
    </ion-list>

    

  </div>


  <div class="ion-text-center">
    <a routerLink="/login">Cerrar Sesion</a>
  </div>


</ion-content>
