<!-- <ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <form #formulario="ngForm" (ngSubmit)="goInicio()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"
                    name="auxNombre"
                   [(ngModel)]="auxNombre"
                   required>
                  </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"
                    name="auxPassword"
                   [(ngModel)]="auxPassword"
                   required>
                  </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit"
    [disabled]="formulario.invalid">
        Entrar
    </ion-button>
  </form>

  <div>
    <a routerLink="/crear-perfil">Registrarse</a>
  </div>

  

</ion-content> -->


<ion-content class="background">


  <ion-slides class="mainSlide" #slidePrincipal>
    
    <ion-slide>

      <form>
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/img/im2.png">
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input name="email"
                                type="email"
                                required
                                [(ngModel)]="auxNombre"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input name="password"
                                type="password"
                                required
                                [(ngModel)]="auxPassword"></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="tertiary"
                          shape="round"
                          (click)="goInicio()">
                Login
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>
    


    </ion-slide>

    <ion-slide>

      
      <ion-grid fixed>
            <form #formulario1="ngForm">
              <ion-row>
                <ion-col>
                  <img src="/assets/img/im2.png">
                </ion-col>
              </ion-row>

              <ion-list>
                <ion-item>
                  <ion-label>¿Qué eres?</ion-label>
                  <ion-select [(ngModel)]="perfil.isAdmin"
                              name="isAdmin">
                    <ion-select-option value="true" >Admin</ion-select-option>
                    <ion-select-option value="false" >Usuario</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>

                <ion-row>
                    <ion-col>  
                        <ion-list>

                            <ion-item class="bor">
                              <ion-label position="floating">Nombre de usuario</ion-label>
                              <ion-input type="text"
                                         name="nombreUsuario"
                                         minlength="5"
                                         maxlength="20"
                                         [(ngModel)]="perfil.nombreUsuario"
                                         required></ion-input>
                              </ion-item>
                              <ion-item class="bor">
                                <ion-label position="floating">Edad</ion-label>
                                <ion-input type="number"
                                           name="edad"
                                           [(ngModel)]="perfil.edad"
                                           required></ion-input>
                                </ion-item>
                            <ion-item class="bor">
                            <ion-label position="floating">Email</ion-label>
                            <ion-input name="email" 
                                        type="email"
                                        pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{3,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{3,})"
                                        [(ngModel)]="perfil.email"
                                        required></ion-input>
                            </ion-item>
                            <ion-item class="bor">
                            <ion-label position="floating">Password</ion-label>
                            <ion-input name="password"
                                        type="password"
                                        pattern="(?=.*[A-Z])(?=.*[a-z]).{6,}"
                                        placeholder="Mínimo 6 caracteres entre mayúsculas y minúsculas"
                                        [(ngModel)]="perfil.password"
                                        required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="tertiary"
                                shape="round"
                                [disabled]="formulario1.invalid"
                                (click)="registro()">
                        Crear usuario
                    </ion-button>
                </ion-col>
            </ion-row>
            </form>
        </ion-grid>
  
  
      </ion-slide>


  </ion-slides>



</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    
    <ion-row>

      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="tertiary"
                      (click)="mostrarRegistro()">
            Ingresar
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="tertiary"
                    (click)="mostrarLogin()">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>
</ion-footer>
