<app-header titulo="Lista complejos" *ngIf="!atras"></app-header>

<ion-header no-border *ngIf="atras">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goSlide1()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">


  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>
    
    <ion-slide>
  
      <form>
        <ion-grid >
  
          <ion-row>
            <ion-col>
              <!-- <img src="/assets/img/im2.png" alt="10" width="20"> -->
            </ion-col>
          </ion-row>
        
          <ion-row class="center">
            <ion-col>
              
                <div class="borA" *ngFor='let user of complejos' style="background-color: rgb(211, 197, 197, 0);">
  
                  <ion-row class="ion-align-items-center">
                    <ion-col class="izquierda">
                      <h4 *ngIf="user.estado" 
                      >Abierto Ahora</h4>
                      <h4 *ngIf="!user.estado"
                      >Cerrado Ahora</h4>
                    </ion-col>
                    <ion-col class="derecha">
                        <ion-icon class="size" 
                                  (click)="obtenerComplejoId(user.idComplejo)"
                                  name="ellipsis-vertical"></ion-icon>
                    </ion-col>
                </ion-row>

                  <img class="img" src="{{user.foto}}">
                  <h3 >
                    {{user.nombre}}
                  </h3>
                  <ion-row>
                    <ion-col>
                      <label>
                        <ion-icon name="location-outline" color="danger"></ion-icon>
                        {{user.localidad}}
                      </label>
                    </ion-col>
                    <ion-col>
                      <ion-label>
                        <ion-icon name="call-outline" color="secondary"></ion-icon>
                        {{user.numero}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  

                  <ion-row>
                    <ion-col *ngIf="user.parqueo">
                      <label><ion-icon name="car-outline" color="tertiary"></ion-icon>
                        Con parqueo</label>
                    </ion-col>
                    <ion-col *ngIf="!user.parqueo">
                      <label><ion-icon name="car-outline" color="tertiary"></ion-icon>
                        Sin parqueo</label>
                    </ion-col>
                    <ion-col *ngIf="user.seguridad">
                      <label><ion-icon name="lock-closed-outline" color="danger"></ion-icon>
                        Con seguridad</label>
                    </ion-col>
                    <ion-col *ngIf="!user.seguridad">
                      <label><ion-icon name="lock-open-outline" color="danger"></ion-icon>
                        Sin seguridad</label>
                    </ion-col>
                  </ion-row>

                  <!-- <ion-row>
                    <ion-col>                 
                    </ion-col>
                    <ion-col>
                        <ion-label position="floating">Cambiar estado</ion-label>
                        <ion-select [(ngModel)]="complejo.estado"
                                    name="idCancha">
                            <ion-select-option value="true">Abierto</ion-select-option>
                            <ion-select-option value="false">Cerrado</ion-select-option>
                        </ion-select>
                  </ion-col>
                  </ion-row> -->
                  
                  <!-- <ion-row>
                    <ion-col size="6">
                      <ion-button type="submit"
                          color="tertiary"
                          shape="round"
                          >
                          Actualizar estado
                      </ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <ion-button type="submit"
                          color="tertiary"
                          shape="round"
                          (click)="obtenerComplejo(user.idComplejo)"
                          
                          (click)="goSlideActualizar()">
                        Actualizar Info.
                      </ion-button>
                    </ion-col>
                  </ion-row> -->
                  <!-- <ion-row>
                    <ion-col size="6">
                      <ion-button type="submit"
                          color="tertiary"
                          shape="round"
                          (click)="obtenerCanchasComplejo(user.idComplejo)"
                          (click)="goSlideVerCancha()">
                        Ver cancha
                      </ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <ion-button type="submit"
                          color="tertiary"
                          shape="round"
                          (click)="obtenerIdComplejo(user.idComplejo)"
                          (click)="goSlideAgregarCancha()">
                        Agregar cancha
                      </ion-button>
                    </ion-col>
                  </ion-row> -->
                  <ion-row>
                    <ion-col>
                      <ion-button type="submit"
                                  color="tertiary"
                                  expand="full"
                                  color="success"
                                  (click)="obtenerReservasxComplejo(user.idComplejo)"
                                  >
                        Ver reservaciones del complejo
                      </ion-button>
                    </ion-col>
                  </ion-row>
  
  
                </div>
            </ion-col>
          </ion-row>
  

  
        </ion-grid>
      </form>
    </ion-slide>
  
    <!-- -------------------------------------------------SLIDE 1------------------------------------------- -->
    <ion-slide>
      <ion-grid fixed>
            <form>
 
              <h1 style="color: white;">Reservas</h1>  

              <div>
                <ion-row>
                  <ion-col class="bor" size="3"><h6 class="shadow">Usuario</h6></ion-col>
                  <ion-col class="bor" size="3"><h6 class="shadow">Dia y hora</h6></ion-col>
                  <ion-col class="bor"><h6 class="shadow">¿Realizo el pagó?</h6></ion-col>
                  <!-- <ion-col></ion-col> -->
                </ion-row>
              </div>

              <div>
                  <ion-row *ngFor="let item of reservasComplejo">
                    <ion-col class="bor" size="3"><h6 class="shadow">{{item.user.nombreUsuario}}</h6></ion-col>
                    <ion-col class="bor" size="3"><h6 class="shadow">{{item.horaInicial | date:'dd-MMMM HH:mm'}} a {{item.horaFinal | date:'HH:mm'}}</h6></ion-col>
                    <ion-col class="bor" *ngIf="item.pago"><label class="shadow">Completo <ion-icon color="success" name="checkmark-done-outline"></ion-icon></label></ion-col>
                    <ion-col class="bor" *ngIf="item.pagoParcial"><label class="shadow">50% <ion-icon color="success" name="checkmark-outline"></ion-icon></label></ion-col>
                    <ion-col class="bor" *ngIf="!item.pago && !item.pagoParcial"><h6 class="shadow">No</h6></ion-col>
                    <ion-col class="bor" *ngIf="!item.pago && !item.pagoParcial">
                      <ion-button color="danger"
                                  class="centrado"      
                                  fill="clear"                
                                  (click)="eliminar(item.idReservacion)">
                                  <ion-icon name="trash-outline"></ion-icon>
                                  </ion-button>
                      
                    </ion-col>
                    <!-- <ion-col *ngIf="item.pago || item.pagoParcial"></ion-col> -->
                  </ion-row>            
              </div>

            
            </form>
        </ion-grid>
  
      </ion-slide>



      <!-- ---------------------------------------SLIDE ACTUALIZAR DIRECCION----------------------------------- -->
    <ion-slide>
      <ion-grid>
            <form>
 
                <ion-row class="ion-text-center">
                  <ion-col class="ion-text-center">
                    <h3>Actualiza tu dirección</h3>
                    <ion-item>
                      <ion-input type="text"
                                  class="izquierda"                         
                                 name="complejoLocalidad"
                                 [(ngModel)]="complejo.localidad"
                                 required>
                                </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <!-- <ion-col>
                    <ion-button type="submit"
                                fill="outline"
                                color="success"
                                shape="round"
                                (click)="goSlide1()">
                                <ion-icon name="caret-back-outline"></ion-icon>
                      Regresar
                    </ion-button>
                  </ion-col> -->
                  <ion-col>
                    <ion-button type="submit"
                                fill="outline"
                                color="success"
                                shape="round"
                                (click)="modificarSinFoto()">
                                <ion-icon name="sync-outline"></ion-icon>
                        Actualizar                        
                    </ion-button>  
                  </ion-col>
                </ion-row>

            
            </form>
      </ion-grid>  
    </ion-slide>


    <!-- --------------------------------------SLIDE ACTUALIZAR UBICACION------------------------------------ -->
    <ion-slide>
      <ion-grid>
            <form  #formulario="ngForm">
 
              <ion-row>
                <ion-col>  
                    <h4>Obten tu ubicacion para salir en el mapa</h4>                    

                  <ion-item class="ion-text-center">
                    <ion-spinner name="lines-small"
                                 *ngIf="cargando"></ion-spinner>
                    <ion-button (click)="localizacion()" class="centrado">Obtener mi ubicacion actual</ion-button>
                    <ion-label *ngIf="listo">
                      <ion-icon class="size" color="success" name="checkmark-done-outline"></ion-icon>
                    </ion-label>
                  </ion-item>                    
                </ion-col>
            </ion-row>

            <ion-row>
              <!-- <ion-col>
                <ion-button type="submit"
                            fill="outline"
                            color="success"
                            shape="round"
                            (click)="goSlide1()">
                    <ion-icon name="caret-back-outline"></ion-icon>
                  Regresar
                </ion-button>
              </ion-col> -->
              <ion-col>
                <ion-button *ngIf="listo"
                            type="submit"
                            fill="outline"
                            color="success"
                            shape="round"
                            (click)="modificarSinFoto()"
                            (click)="goSlide1()">
                            <ion-icon name="sync-outline"></ion-icon>
                    Actualizar
                </ion-button>  
              </ion-col>
            </ion-row>

            
            </form>
      </ion-grid>  
    </ion-slide>


    <!-- --------------------------------------SLIDE ACTUALIZAR HORARIO------------------------------------ -->
    <ion-slide>
      <ion-grid>
            <form>
 
                <ion-row>
                  <ion-col>
                    <ion-list>
                        <h4 class="ion-text-wrap">Indica el horario en que tus clientes podrán reservar</h4>

                      <ion-item class="bort">
                        <ion-label>Hora Inicio</ion-label>
                        <ion-datetime displayFormat="HH:mm" 
                                      minuteValues="0"
                                    name="horaInicio"
                                    [(ngModel)]="abre"
                                    (ngModelChange)='verificar()'>
                        </ion-datetime>
                      </ion-item>
                      <ion-item class="bort">
                        <ion-label>Hora Cierre</ion-label>
                        <ion-datetime displayFormat="HH:mm" 
                                      minuteValues="0"
                                    name="horaCierre"
                                    [(ngModel)]="cierr"
                                    (ngModelChange)='verificar()'>
                        </ion-datetime>

                      </ion-item>   
                    </ion-list>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <!-- <ion-col>
                    <ion-button type="submit"
                                fill="outline"
                                color="success"
                                shape="round"
                                (click)="goSlide1()">
                        <ion-icon name="caret-back-outline"></ion-icon>
                      Regresar
                    </ion-button>
                  </ion-col> -->
                  <ion-col>
                    <ion-button *ngIf="ver"
                                type="submit"
                                fill="outline"
                                color="success"
                                shape="round"
                                (click)="modificarSinFoto()"
                                (click)="goSlide1()">
                                <ion-icon name="sync-outline"></ion-icon>
                        Actualizar
                    </ion-button>  
                  </ion-col>
                </ion-row>

            
            </form>
      </ion-grid>  
    </ion-slide>


<!-- ------------------------------------SLIDE ACTUALIZAR FOTO--------------------------------------------- -->
    <ion-slide>
      <ion-grid>
            <form #formulario="ngForm">

              <ion-row>
                <ion-col>
                    <h4>Imagen Actual</h4>
                  <div>
                      <img class="img" src="{{complejo.foto}}">
                  </div>                  
                </ion-col>
              </ion-row>
 
                <ion-row>
                  <ion-col>
                    <div>
                      <h4>Cambia la imagen</h4>                        
                      <ion-item>
                          <input type="file"
                                 id="img"
                                 name="img"
                                 ngModel
                                 required>
                      </ion-item>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="outline"
                                type="submit"
                                color="success"
                                shape="round"
                                [disabled]="formulario.invalid"
                                (click)="modificarComplejo()"
                                (click)="goSlide1()">
                                <ion-icon name="sync-outline"></ion-icon>
                        Actualizar
                    </ion-button>  
                  </ion-col>
                </ion-row>

            
            </form>
      </ion-grid>  
    </ion-slide>


    <!-- ------------------------------SLIDE ACTUALIZAR NUMERO-------------------------------------------- -->
    <ion-slide>
      <!--  -->
      <ion-grid>
        <form #formulario3="ngForm">
 
          <ion-row class="ion-text-center">
            <ion-col class="ion-text-center">
              <h4>Actualiza tu número de teléfono</h4>
              <ion-item>
                <ion-input type="text"
                            class="izquierda"                         
                           name="complejoTelefono"
                            minlength="8" maxlength="8"
                            pattern="[0-9]+"
                           [(ngModel)]="complejo.numero"
                           required>
                          </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <!-- <ion-col>
              <ion-button type="submit"
                          fill="outline"
                          color="success"
                          shape="round"
                          (click)="goSlide1()">
                          <ion-icon name="caret-back-outline"></ion-icon>
                Regresar
              </ion-button>
            </ion-col> -->
            <ion-col>
              <ion-button type="submit"
                          fill="outline"
                          color="success"
                          shape="round"
                          (click)="modificarSinFoto()"
                          [disabled]="formulario3.invalid">
                          <ion-icon name="sync-outline"></ion-icon>
                  Actualizar                        
              </ion-button>  
            </ion-col>
          </ion-row>

      
      </form>
      </ion-grid>
  
      </ion-slide>
  
  
  <!-- -------------------------------SLIDE VER CANCHAS------------------------------------- -->

  <ion-slide>
  
    <!--  -->
  </ion-slide>


     
  
  
  
  </ion-slides>


</ion-content>
