.derecha{
    text-align: right;
}
.centrado{
    text-align: center;
  }
.izquierda{
    text-align: left;
}

.bor {
    border-bottom: white 2px solid;
}

ion-content.background{
    --background: url(/assets/img/trofeo.png) 0 0/100% 100% no-repeat;
    opacity: 0.8;
}

.img {
    min-height: 300px;
    max-height: 570px;
    width: 1000px;
}

label, ion-label, h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 8px #080808;
}

ion-icon {
    font-size: 27px;
}