<app-header titulo="Crear Torneo" *ngIf="!atras"></app-header>

<ion-header no-border *ngIf="atras">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="slideAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>

    <ion-slide>
      <form #formulario="ngForm">
      <ion-grid>
        <div class="ion-margin-top bor">
          <ion-label class="shadow">¿Dónde se realizará el torneo?</ion-label>
          <ion-select [(ngModel)]="complejo.idComplejo"
                      name="idComplejo"
                      (ngModelChange)="getIdComplejo()">
            <ion-select-option *ngFor="let item of complejos" value="{{item.idComplejo}}" >{{item.nombre}}</ion-select-option>
          </ion-select>
        </div>
            
        <div *ngIf="complejo.idComplejo!=0" class="bor">
          <h4 class="shadow">Dale nombre al torneo</h4>
          <ion-item>
            <ion-input name="nombre"
                        type="text"
                        placeholder="Nombre"
                        minlength="5"
                        maxlength="15"
                        required
                        [(ngModel)]="torneo.nombre"></ion-input>
          </ion-item>
        </div>
        <div *ngIf="complejo.idComplejo!=0" class="bor">
          <h4 class="shadow">¿Cuántos equipos quieres que participen?</h4>
          <ion-item>
            <ion-input name="cantEquipos"
                        type="number"
                        placeholder="cantEquipos"
                        required
                        [(ngModel)]="torneo.cantEquipos"></ion-input>
          </ion-item>
        </div>
        <ion-row *ngIf="complejo.idComplejo!=0">
          <ion-col>
            <ion-button color="success"
                        shape="round"
                        (click)="goSlide2()"
                        [disabled]="formulario.invalid">Siguiente</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    </ion-slide>

<!-- ----------------------------------------------------SLIDE 3-------------------------------------------- -->

    <ion-slide>
      <ion-grid>
        <form #formulario1="ngForm">
          <div class="bor">
            <h4>Si quieres, agrega una descripción para el torneo</h4>
            <ion-item class="bor">
              <ion-input name="descripcion"
                          type="text"
                          placeholder="descripcion"
                          minlength="5"                        
                          [(ngModel)]="torneo.descripcion"></ion-input>
            </ion-item>
          </div>
          <br>
          <div class="bor">
            <h4>Agrega una imagen donde se indiquen las reglas y premios del torneo</h4>
            <ion-item>
              <input type="file"
                    id="img"
                    name="img"
                    ngModel
                    required>
            </ion-item>
          </div>
          <br><br>
          <div class="bor">
          <ion-item>
            <ion-label>¿Cuándo se realizará el torneo?</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" 
                                      name="diaTorneo"
                                      [(ngModel)]="torneo.diaTorneo"
                                      (ngModelChange)='verificar()'>
                        </ion-datetime>
          </ion-item>
        </div>
        <ion-row>
          <ion-col>
            <ion-button *ngIf="ver"
                        color="success"
                        expand="full"
                        (click)="crearTorneoConImagen()"
                        [disabled]="formulario1.invalid">
                Crear Torneo
              </ion-button>
          </ion-col>
        </ion-row>
      </form>
      </ion-grid>
    </ion-slide>

<!-- ----------------------------------------------------SLIDE 3-------------------------------------------- -->

    <ion-slide>
      <ion-grid>
        <form #formulario2="ngForm">
          <br>
        <ion-item>
          <ion-label class="shadow">¿Cuándo se realizara el torneo?</ion-label>
          <ion-datetime displayFormat="D MMM YYYY" 
                                    name="diaTorneo"
                                    [(ngModel)]="torneo.diaTorneo"
                                    (ngModelChange)='verificar()'>
                      </ion-datetime>
        </ion-item>
        <ion-row>
          <ion-col>
            <!-- <ion-button color="success"
                        shape="round" fill="outline"
                        (click)="verificar()"
                        >Verificar</ion-button> -->
                  <ion-button *ngIf="ver"
                              color="success"
                              expand="full"
                              (click)="crearTorneoConImagen()"
                              [disabled]="formulario2.invalid">
                CREAR
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-slide>


  </ion-slides>

</ion-content>
