<app-header titulo="Crear Torneo"></app-header>

<ion-content center>

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>

    <ion-slide>
      <form #formulario="ngForm">
      <ion-grid>
        <ion-list>
          <ion-item>
            <ion-label>¿Donde se realizara el torneo?</ion-label>
            <ion-select [(ngModel)]="complejo.idComplejo"
                        name="idComplejo"
                        (ngModelChange)="getIdComplejo()">
              <ion-select-option *ngFor="let item of complejos" value="{{item.idComplejo}}" >{{item.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <br>
        <div *ngIf="complejo.idComplejo!=0">
          <h4>Dale nombre al torneo</h4>
          <ion-item>
            <ion-input name="nombre"
                        type="text"
                        placeholder="Nombre"
                        minlength="5"
                        maxlength="15"
                        required
                        [(ngModel)]="torneo.nombre"></ion-input>
          </ion-item>
        </div>
        <br>
        <div *ngIf="complejo.idComplejo!=0">
          <h4>Cuantos equipos quieres que participen</h4>
          <ion-item>
            <ion-input name="cantEquipos"
                        type="number"
                        placeholder="cantEquipos"
                        required
                        [(ngModel)]="torneo.cantEquipos"></ion-input>
          </ion-item>
        </div>
        <ion-row *ngIf="complejo.idComplejo!=0">
          <ion-col>
            <ion-button color="success"
                        shape="round" fill="outline"
                        (click)="goSlide2()"
                        [disabled]="formulario.invalid">Continuar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    </ion-slide>

<!-- ----------------------------------------------------SLIDE 3-------------------------------------------- -->

    <ion-slide>
      <ion-grid>
        <form>
        <div>
          <ion-label>Agrega una descripción, pueden ser los premios que se entregaran o lo que quieras.</ion-label>
          <br>
          <ion-label>También puedes dejar en blanco y agregar una imagen en su lugar.</ion-label>
          <br>
          <ion-label>O ambas.</ion-label>
          <ion-item>
            <ion-textarea rows="6" cols="20" 
                          placeholder="Escribe aquí..." 
                          name="descripcion"
                          [(ngModel)]="torneo.descripcion"></ion-textarea>
          </ion-item>
          <br>
          <ion-item>
            <input type="file"
                   id="img"
                   name="img"
                   [(ngModel)]="torneo.premioFoto"
                   required>
          </ion-item>
        </div>
        <ion-row>
          <ion-col>
            <ion-button color="success"
                        shape="round" fill="outline"
                        (click)="goSlide1()"
                        >Regresar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success"
                        shape="round" fill="outline"
                        (click)="goSlide3()"
                        >Continuar</ion-button>
          </ion-col>
        </ion-row>
      </form>
      </ion-grid>
    </ion-slide>

<!-- ----------------------------------------------------SLIDE 3-------------------------------------------- -->

    <ion-slide>
      <ion-grid>
        <ion-item>
          <ion-label>¿Cuándo se realizara el torneo?</ion-label>
          <ion-datetime displayFormat="D MMM YYYY" 
                                    name="diaTorneo"
                                    [(ngModel)]="torneo.diaTorneo"
                                    (ngModelChange)='verificar()'>
                      </ion-datetime>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button color="success"
                        shape="round" fill="outline"
                        (click)="goSlide1()"
                        >Regresar</ion-button>
          </ion-col>
          <ion-col>
            <!-- <ion-button color="success"
                        shape="round" fill="outline"
                        (click)="verificar()"
                        >Verificar</ion-button> -->
                  <ion-button *ngIf="ver"
                              color="success"
                              shape="round"
                              (click)="crearTorneo()">
                CREAR
            </ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-slide>


  </ion-slides>

</ion-content>
