<app-header titulo="Unirme Equipo"></app-header>

<ion-content>

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>
    <ion-slide>
      <ion-grid>

        <h1 style="text-shadow: 1px 1px 1px black; color: white;">Equipos</h1>  

        <div *ngFor="let user of equipos">
          <ion-card class="blanco">
            <ion-row >
              <ion-col size="4"><h5>{{user.nombre}}</h5></ion-col>
              <ion-col class="derecha">
                <ion-button color="success"
                            class="derecha"      
                            shape="round" fill="clear"                
                            (click)="llenar(user.idEquipo)"
                            (click)="uniraEquipo()">UNIRME</ion-button>
                
              </ion-col>
            </ion-row>            
            
          </ion-card>  
        </div>

      </ion-grid>
    </ion-slide>


  </ion-slides>

</ion-content>
