<app-header titulo="Unirme Equipo"></app-header>

<ion-content class="background">

  <ion-slides class="mainSlide" [options]="{ autoHeight: true }" #slidePrincipal>
    <ion-slide>
      <ion-grid>

        <h1 style="color: white;">Equipos</h1>  

        <div>
            <ion-row *ngFor="let user of equipos" class="bor">
              <ion-col size="6" class="izquierda" *ngIf="perfil.id != user.userId"><h5>{{user.nombre}}</h5></ion-col>
              <ion-col class="derecha" *ngIf="perfil.id != user.userId">
                <ion-button color="success"
                            class="derecha"      
                            fill="solid"                
                            (click)="llenar(user.idEquipo)"
                            (click)="uniraEquipo()">
                            <ion-icon name="add-circle-outline"></ion-icon>
                            UNIRME
                            </ion-button>
                
              </ion-col>
            </ion-row>            
        </div>

      </ion-grid>
    </ion-slide>


  </ion-slides>

</ion-content>
